@import "tailwindcss";
@theme {
  --animate-rotateOnce: rotateOnce 0.5s ease forwards;
  @keyframes rotateOnce {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
}
