@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@theme {
  --animate-rotateOnce: rotateOnce 0.5s ease forwards;
  @keyframes rotateOnce {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
  }
}
html{
  @apply scrollbar-track-gray-600 scrollbar-thumb-gray-300
}
